:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    & > .mat-toolbar {
        & .mat-icon {
            margin-right: 16px;
        }
    }

    & > .page-content {
        flex: 1;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
    }
}